---
categories: lecture
layout: presentation
author: Lorenzo Sani, Will Usher, Francesco Gardumi
title: Introduction Lecture
date: 2020-05-19
---
#Introduction Lecture

This is the introductory lecture to the course

Author: Lorenzo Sani, Will Usher, Francesco Gardumi

Date: 2020-05-19
---
{% include_relative /modules/2020-01-01-1_1_Intro_Context.html %}
---
{% include_relative /modules/2020-01-01-1_2_Intro_Energy_system.html %}
---
{% include_relative /modules/2020-01-01-1_3_Intro_Energy_systems_modelling.html %}
---
{% include_relative /modules/2020-01-01-1_4_Intro_Developing_case_study.html %}
---
{% include_relative /modules/2020-01-01-1_5_Energy_models_inputs.html %}
---
{% include_relative /modules/2020-01-01-1_6_Interpreting_energy_model_results.html %}
---
{% include_relative /modules/2020-01-01-1_7_Key_takeaway_messages.html %}
---
{% include_relative /modules/2020-01-01-1_8_Reading_material.html %}
---
{% include_relative /modules/2020-01-01-1_9_Acknowledgments.html %}
---
#End