---
author: Lorenzo Sani
categories: lecture
course: Introduction to CLEWS
date: 2020-04-20
layout: presentation
title: Lecture Clews
---

#Lecture Clews

This is a short lecture focused on CLEWS

Author: Lorenzo Sani

This lecture is part of: {{ page.course }} 

Date: 2020-04-20

{% include_relative /modules/2020-01-01-climate.html %}
{% include_relative /modules/2020-01-01-energy.html %}
{% include_relative /modules/2020-01-01-land.html %}
{% include_relative /modules/2020-01-01-water.html %}
---
#End